form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 992px;
    gap: 24px;
}

.currencies-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 80%;
}

.currency-choice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

select {
    padding: 10px 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

input {
    padding: 10px 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.6);
}

button {
    padding: 10px 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}